.header {
    display: flex;
    height: 53px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: orange;
    color: white;
    font-size: larger;
    font-weight: bold;
}